.search {
    height: calc(100% - 66px);

    .grid {
        height: calc(100% - 2px);
    }
    .marquee {
        font-size: 23px;
        font-weight: bold;
        color: #03045e;
    }
    .marquee-description {
        color: #48cae4;
        margin-bottom: 26px;
        font-size: 16px;
    }
    .labels {
        display: block;
        margin: auto;
        width: 85%;
        display: flex;
        margin-bottom: 5px;
    }

    .MuiGrid-root {
        height: calc(100%);
        .MuiGrid-root {
            background-color: white;
            .home-image {
                width: -webkit-fill-available;
                height: 100%;
            }
        }
    }

    .form-container {
        .MuiPaper-root {
            box-shadow: none;
            padding: 0;
            border-radius: 0;
        }
    }

    .TypeAheadDropDown {
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.73);
        margin: auto;
        width: 85%;
    }

    .TypeAheadDropDown input {
        width: 100%;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.73);
        padding: 10px 5px;
        box-sizing: border-box;
        outline: none;
    }
    .TypeAheadDropDown ul::before {
        content: "";
    }

    .TypeAheadDropDown ul {
        list-style-type: none;
        text-align: left;
        margin: 0;
        padding: 0;
        border-top: 1px solid gray;
    }

    .TypeAheadDropDown li {
        padding: 10px 5px;
        cursor: pointer;
    }

    .TypeAheadDropDown li:hover {
        background: lightgray;
        text-decoration: underline;
    }

    .calender {
        input {
            width: 82%;
            height: 37px;
            padding: 0 10px;
            color: #646168;
            font-family: Arial, Helvetica, sans-serif;
            box-shadow: 0 0 1px rgb(0 0 0 / 10%), 0 2px 4px 1px rgb(0 0 0 / 18%);
            outline: none;
            border: none;
            &:focus-visible {
                outline-color: transparent;
            }
        }
    }

    .search-flights-button {
        margin-top: 20px;
        width: 41%;
        background: #03045e;
        color: #caf0f8;
        font-weight: bold;
        &:hover {
            background: #caf0f8;
            color: #03045e;
            font-weight: bold;
            transition-delay: 80ms;
            transition-timing-function: ease-in-out;
        }
    }

    @media screen and (max-width: 680px) {
        .left {
            display: none;
        }
        .form-container {
            width: 100%;
            max-width: 100%;
            flex-basis: 100%;
        }
    }
}
