.not-found-page {
    position: relative;
    .not-found {
        filter: blur(9px);
        -webkit-filter: blur(9px);
        /* Full height */
        height: 100%;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
    .not-found-message {
        position: absolute;
        font-size: 25px;
        color: white;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 2px 4px rgb(71 96 201 / 36%);
    }
}
